@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  transition: all 500ms;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
*{
  margin: 0;
  padding: 0;
}
#quote-box{
  border-radius: 15px;
  transition: all 500ms;
  background-color: #fff;
  color: black;
  width: 32%;
  height: fit-content;
  padding: 40px;
}
#quote-box i {
  font-size: 2rem;
}
#quotee-box{
  transition: all 500ms;
  height: fit-content;
  display: flex;
  margin-bottom: 20px;
}
#author{
  text-align: right;
  font-weight: 400;
  font-size: 0.85rem;
}
#text{
  text-align: center;
  font-size: 2rem;
  transition: all 500ms;
  height: fit-content;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
#tweet-quote{
  font-size: 0.25rem;
  color: #fff;
  transition: all 500ms;
  border: 1px solid black;
  border-radius: 10px;
}
#tweet-quote i {
  font-size: 1.5rem;
  padding: 5px;
  cursor: pointer;
}
#new-quote{
  text-decoration: none;
  transition: all 500ms;
  padding: 5px 10px;
  font-size: large;
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid black;
}


